.App {
  text-align: center;
}

.card-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
}

.card-title {
  padding: 1rem 1.8rem;
  background: rgb(44, 131, 102);
  border-radius: 10px;
  font-size: 1.5rem;
}

.card-body {
  padding: 0 1.5rem;
}

.card-description {
  text-align: left;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.card-footer_span {
  background: rgb(211, 211, 211);
  padding: 5px 8px;
  margin-right: 5px;
  border-radius: 5px;
}