.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
}

.film-title {
  padding: 1rem 1.8rem;
  background: yellow;
  border-radius: 10px;
}

.film-card_body {
  padding: 0 1.5rem;
}

.film-description {
  text-align: left;
}

.film-footer {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.film-footer_span {
  background: yellow;
  padding: 5px 8px;
  margin-right: 5px;
}